<div class="container">
  <span class="caminho">
    /
    <span>{{produto.categoria}}</span>
    /
    <strong> {{produto.nome}}</strong>
  </span>
  <div class="produto">
    <section class="fotos">
      <img [src]="foto" alt="" class="foto-principal">
      <div class="outras-fotos">
        <img [src]="produto.fotos[0]" (click)="trocarFoto(produto.fotos[0])" [ngClass]="{'ativa': foto != produto.fotos[0]}">
        <img [src]="produto.fotos[1]" (click)="trocarFoto(produto.fotos[1])"[ngClass]="{'ativa': foto != produto.fotos[1]}">
        <img [src]="produto.fotos[2]" (click)="trocarFoto(produto.fotos[2])"[ngClass]="{'ativa': foto != produto.fotos[2]}">
        <img [src]="produto.fotos[3]" (click)="trocarFoto(produto.fotos[3])"[ngClass]="{'ativa': foto != produto.fotos[3]}">
      </div>
    </section>
    <section class="infos">
      <h1>{{produto.nome}}</h1>
      <p>{{produto.resumo}}</p>
      <span class="valor">{{produto.valor  | currency : 'BRL'}}</span>
      <div class="botoes">
        <div>
          <button class="btnMenos"(click)="subtrairQuantidade()">-</button>
          <span class="contador">{{quantidadeProduto}}</span>
          <button class="btnMais" (click)="somarQuantidade()">+</button>
        </div>
        <button class="adicionar">
          <img src="/assets/icons/sacola-de-compras.png">
          <span>Adicionar à Sacola</span>
        </button>
      </div>
      <hr>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Descrição
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{produto.descricao}}</p>
      </mat-expansion-panel>
    </section>

  </div>
</div>

