<app-header>
  <ng-container >
    <div class="container">
  <span class="caminho">
    /
    <span>{{produto.category}}</span>
    /
    <strong> {{produto.name}}</strong>
  </span>
  <div class="produto">
    <section class="fotos">
      <img [src]="foto" alt="" class="foto-principal">
      <div class="outras-fotos">
        <img [src]="produto.picture_url" (click)="trocarFoto(produto.picture_url)" [ngClass]="{'ativa': foto != produto.picture_url}">
        <img [src]="picture_url[0]" (click)="trocarFoto(produto.picture_url[0])"[ngClass]="{'ativa': foto != picture_url[0]}">
        <img [src]="picture_url[1]" (click)="trocarFoto(produto.picture_url[1])"[ngClass]="{'ativa': foto != picture_url[1]}">
        <img *ngIf="picture_url[2]" [src]="picture_url[2]" (click)="trocarFoto(produto.picture_url[2])"[ngClass]="{'ativa': foto != picture_url[2]}">
        <img *ngIf="picture_url[3]" [src]="picture_url[3]" (click)="trocarFoto(produto.picture_url[3])"[ngClass]="{'ativa': foto != picture_url[3]}">
      </div>
    </section>
    <section class="infos">
      <h1>{{produto.name}}</h1>
      <p>{{produto.resumo}}</p>
      <span class="valor">{{produto.price  | currency : 'BRL'}}</span>
      <div class="botoes">
        <div>
          <button class="btnMenos"(click)="subtrairQuantidade()">-</button>
          <span class="contador">{{quantidadeProduto}}</span>
          <button class="btnMais" (click)="somarQuantidade()">+</button>
        </div>
        <button class="adicionar" (click)="adicionarProduto()">
          <img src="/assets/icons/sacola-de-compras.png">
          <span>Adicionar à Sacola</span>
        </button>
      </div>
      <hr>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Descrição
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{produto.description}}</p>
      </mat-expansion-panel>
    </section>

  </div>
    </div>
  </ng-container>
</app-header>

