<nav class="desktop mat-elevation-z4">
  <ul>
    <li>
      <a routerLink="/home" >
        <img src="/assets/img/devs-logo-branco.png" class="logo">
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="info bloco">
    <div class="titulo">
      <img src="/assets/icons/user.png" width="18px">
      <h5>Informações pessoais</h5>
    </div>
    <p>Solicitamos apenas informações essenciais</p>
    <form [formGroup]="formInfo">
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" formControlName="email" placeholder="email@email.com" [ngClass]="[formInfo.get('email')?.errors?.['required'] && formInfo.get('email')?.touched? 'input-erro' : 'input']">
        <div class="erro" *ngIf="formInfo.get('email')?.errors?.['required'] && formInfo.get('email')?.touched">Campo obrigatório.</div>
        <div class="erro" *ngIf="formInfo.get('email')?.errors?.['email'] && formInfo.get('email')?.touched">Formato de email incorreto.</div>
      </div>
      <div class="dual-input">
        <div>
          <label for="nome">Primeiro Nome</label>
          <input type="text" name="nome" formControlName="nome"[ngClass]="[formInfo.get('nome')?.errors?.['required'] && formInfo.get('nome')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('nome')?.errors?.['required'] && formInfo.get('nome')?.touched">Campo obrigatório.</div>
        </div>
        <div>
          <label for="sobrenome">Último Nome</label>
          <input type="text" name="sobrenome" formControlName="sobrenome" [ngClass]="[formInfo.get('sobrenome')?.errors?.['required'] && formInfo.get('sobrenome')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('sobrenome')?.errors?.['required'] && formInfo.get('sobrenome')?.touched">Campo obrigatório.</div>
        </div>
      </div>
      <div class="dual-input">
        <div>
          <span>Gênero</span>
          <select formControlName="genero" [ngClass]="[formInfo.get('genero')?.errors?.['required'] && formInfo.get('genero')?.touched? 'input-erro' : 'select']">
            <option value="masculino" selected>Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="outros">Outros</option>
          </select>
        </div>
        <div>
          <label for="data">Data de Nascimento</label>
          <input type="date" name="data" placeholder="dd/mm/yyyy" formControlName="nascimento" [ngClass]="[formInfo.get('nascimento')?.errors?.['required'] && formInfo.get('nascimento')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('nascimento')?.errors?.['required'] && formInfo.get('nascimento')?.touched">Campo obrigatório.</div>
        </div>
      </div>
      <div class="dual-input">
        <div>
          <label for="cpf">CPF</label>
          <input type="text" name="cpf" placeholder="999.999.999-99" formControlName="cpf"  [ngClass]="[formInfo.get('cpf')?.errors?.['required'] && formInfo.get('cpf')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('cpf')?.errors?.['required'] && formInfo.get('cpf')?.touched">Campo obrigatório.</div>
        </div>
        <div>
          <label for="telefone">Telefone</label>
          <input type="number" name="telefone" placeholder="11 99999-9999" formControlName="telefone" [ngClass]="[formInfo.get('telefone')?.errors?.['required'] && formInfo.get('telefone')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('telefone')?.errors?.['required'] && formInfo.get('telefone')?.touched">Campo obrigatório.</div>
        </div>
      </div>
      <button type="submit">Ir para a Entrega</button>
    </form>
  </div>
  <div class="entrega-pagamento">
    <div class="entrega bloco">
      <div class="titulo">
        <img src="/assets/icons/home.png" width="18px">
        <h5>Entrega</h5>
      </div>
      <p>Aguardando o preenchimento dos dados</p>
    </div>

    <div class="pagamento bloco">
      <div class="titulo">
        <img src="/assets/icons/cartao-do-banco.png" width="18px">
        <h5>Pagamento</h5>
      </div>
      <p>Aguardando o preenchimento dos dados</p>
    </div>
  </div>

  <div class="resumo bloco">
    <div class="titulo">
      <img src="/assets/icons/sacola-de-compras (1).png" width="18px">
      <h5>Resumo da compra</h5>
    </div>
    <div class="produtos">
      <div class="produto" *ngFor="let produto of produtosSacola">
        <img [src]="produto.produto.fotos[0]">
        <div class="infos">
          <span class="nome">{{produto.produto.nome}}</span>
          <div class="qnt">
            <span>Quantidade: {{produto.quantidade}}</span>
          </div>
          </div>
        </div>
      </div>
      <div class="valor-total">
        <span>Total:</span>
        <span>{{valorTotal}}</span>
      </div>
    </div>

  </div>

