<nav class="desktop mat-elevation-z4">
  <ul>
    <li>
      <a routerLink="/home">
        <img src="/assets/img/devs-logo-branco.png" class="logo">
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="info bloco">
    <div class="header">
      <div class="titulo">
        <img src="/assets/icons/user.png" width="18px">
        <h5>Informações pessoais</h5>
      </div>
      <img src="/assets/icons/editar.png" *ngIf="informacoesValidas" (click)="editarInfo('info')">
    </div>
    <div *ngIf="!informacoesValidas">
      <p>Solicitamos apenas informações essenciais</p>
      <form [formGroup]="formInfo">
        <div>
          <label for="email">E-mail</label>
          <input type="email" name="email" required formControlName="email" placeholder="email@email.com"
            [ngClass]="[formInfo.get('email')?.errors?.['required'] && formInfo.get('email')?.touched? 'input-erro' : 'input']">
          <div class="erro" *ngIf="formInfo.get('email')?.errors?.['required'] && formInfo.get('email')?.touched">Campo
            obrigatório.</div>
          <div class="erro" *ngIf="formInfo.get('email')?.errors?.['email'] && formInfo.get('email')?.touched">Formato
            de email incorreto.</div>
        </div>
        <div class="dual-input">
          <div>
            <label for="nome">Primeiro Nome</label>
            <input type="text" name="nome" required formControlName="nome"
              [ngClass]="[formInfo.get('nome')?.errors?.['required'] && formInfo.get('nome')?.touched? 'input-erro' : 'input']">
            <div class="erro" *ngIf="formInfo.get('nome')?.errors?.['required'] && formInfo.get('nome')?.touched">Campo
              obrigatório.</div>
          </div>
          <div>
            <label for="sobrenome">Último Nome</label>
            <input type="text" name="sobrenome" required formControlName="sobrenome"
              [ngClass]="[formInfo.get('sobrenome')?.errors?.['required'] && formInfo.get('sobrenome')?.touched? 'input-erro' : 'input']">
            <div class="erro"
              *ngIf="formInfo.get('sobrenome')?.errors?.['required'] && formInfo.get('sobrenome')?.touched">Campo
              obrigatório.</div>
          </div>
        </div>
        <div class="dual-input">
          <div>
            <span>Gênero</span>
            <select formControlName="genero" required
              [ngClass]="[formInfo.get('genero')?.errors?.['required'] && formInfo.get('genero')?.touched? 'input-erro' : 'select']">
              <option value="masculino" selected>Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="outros">Outros</option>
            </select>
          </div>
          <div>
            <label for="data">Data de Nascimento</label>
            <input type="text" required mask="d0/M0/0000" name="data" placeholder="dd/mm/yyyy"
              formControlName="nascimento"
              [ngClass]="[formInfo.get('nascimento')?.errors?.['required'] && formInfo.get('nascimento')?.touched? 'input-erro' : 'input']">
            <div class="erro"
              *ngIf="formInfo.get('nascimento')?.errors?.['required'] && formInfo.get('nascimento')?.touched">Campo
              obrigatório.</div>
          </div>
        </div>
        <div class="dual-input">
          <div>
            <label for="cpf">CPF</label>
            <input type="text" required mask="000.000.000-00" name="cpf" placeholder="999.999.999-99"
              formControlName="cpf"
              [ngClass]="[formInfo.get('cpf')?.errors?.['required'] && formInfo.get('cpf')?.touched? 'input-erro' : 'input']">
            <div class="erro" *ngIf="formInfo.get('cpf')?.errors?.['required'] && formInfo.get('cpf')?.touched">Campo
              obrigatório.</div>
              <div class="erro" *ngIf="formInfo.get('cpf')?.errors?.['minLength'] && formInfo.get('cpf')?.touched">Campo
                obrigatório.</div>
          </div>
          <div>
            <label for="telefone">Telefone</label>
            <input type="text" required mask="(00) 0000-0000||(00) 0 0000-0000" name="telefone"
              placeholder="11 99999-9999" formControlName="telefone"
              [ngClass]="[formInfo.get('telefone')?.errors?.['required'] && formInfo.get('telefone')?.touched? 'input-erro' : 'input']">
            <div class="erro"
              *ngIf="formInfo.get('telefone')?.errors?.['required'] && formInfo.get('telefone')?.touched">Campo
              obrigatório.</div>
          </div>
        </div>
        <button type="submit" [disabled]="!formInfo.valid" (click)="salvarInformacoes()">Ir para a Entrega</button>
      </form>
    </div>
    <div *ngIf="informacoesValidas" class="informacoes">
      <span>{{formInfo.value.email}}</span>
      <span>{{formInfo.value.nome}} {{formInfo.value.sobrenome}}</span>
      <span>{{formInfo.value.telefone}}</span>
    </div>
  </div>
  <div class="entrega-pagamento">
    <div class="entrega bloco">
      <div class="header">
        <div class="titulo">
          <img src="/assets/icons/home.png" width="18px">
          <h5>Entrega</h5>
        </div>
        <img src="/assets/icons/editar.png" *ngIf="entregaValida" (click)="editarInfo('entrega')">
      </div>
      <p *ngIf="!entrega && !entregaValida">Aguardando o preenchimento dos dados</p>
      <div *ngIf="entrega">
        <form #formEnd="ngForm">
          <div>
            <label for="cep">CEP</label>
            <input type="text" mask="00000-000" (blur)="consultarCep()" class="input" name="cep"
              [(ngModel)]="formEndereco.cep">
          </div>
          <div class="endereco" *ngIf="formEndereco.logradouro != ''">
            <h5>Endereço de entrega</h5>
            <div class="div-endereco">{{formEndereco.logradouro}}</div>
            <div class="div-endereco">{{formEndereco.bairro}}, {{formEndereco.localidade}} - {{formEndereco.uf}}</div>
            <div class="dual-input">
              <div>
                <label for="numero">Número</label>
                <input type="number" class="input" name="numero" [(ngModel)]="formEndereco.numero" required>
                <div *ngIf="formEnd.errors?.['required']">Campo Obrigatório</div>
              </div>
              <div>
                <label for="complemento">Complemento e Referência</label>
                <input type="text" class="input" name="complemento" placeholder="Opcional"
                  [(ngModel)]="formEndereco.complemento">
              </div>
            </div>
            <div>
              <label for="destinatario">Destinatário</label>
              <input type="text" name="destinatario" class="input" [(ngModel)]="formEndereco.destinatario">
            </div>
            <button [disabled]="!formEnd.valid" (click)="salvarEndereco(formEnd)">Ir para o pagamento</button>
          </div>

        </form>
      </div>
      <div *ngIf="entregaValida" class="informacoes">
        <span>{{formEndereco.logradouro}}, {{formEndereco.numero}}</span>
        <span>{{formEndereco.bairro}}, {{formEndereco.localidade}} - {{formEndereco.uf}}</span>
        <span>{{formEndereco.cep}}</span>
      </div>
    </div>

    <div class="pagamento bloco">
      <div class="titulo">
        <img src="/assets/icons/cartao-do-banco.png" width="18px">
        <h5>Pagamento</h5>
      </div>
      <p *ngIf="!pagamento">Aguardando o preenchimento dos dados</p>
      <div *ngIf="pagamento">
        <div>
          <p>Escolha a forma de pagamento</p>
          <form #formaPag="ngForm" class="radios">
            <div class="forma-pagamento">
              <input type="radio" name="cartao" value="cartao" checked [(ngModel)]="formaPagamento">
              <label for="cartao">Cartão de crédito</label>
              <img src="/assets/icons/cartao-do-banco (1).png" width="16px">
            </div>
            <div class="forma-pagamento">
              <input type="radio" name="pix" value="pix" [(ngModel)]="formaPagamento">
              <label for="pix">Pix</label>
              <img src="/assets/icons/icone-pix.png" width="16px">
            </div>
          </form>
        </div>
        <form [formGroup]="formPag">
          <div>
            <input type="text" name="numero" placeholder="Número do cartão" formControlName="numero" (keydown)="verificarBandeira()" [ngClass]="[formPag.get('numero')?.errors?.['required'] && formInfo.get('numero')?.touched? 'input-erro' : 'input']">
            <div class="erro" *ngIf="formPag.get('numero')?.errors?.['required'] && formPag.get('numero')?.touched">Campo
            obrigatório.</div>
            <div class="bandeiras">
              <img src="/assets/icons/visa.png" id="visa">
              <img src="/assets/icons/master.png" id="master">
              <img src="/assets/icons/hiper.png" id="hiper">
              <img src="/assets/icons/elo.png" id="elo">
            </div>
          </div>
          <div>
            <select>
              <option value="" disabled selected>Quantidade de parcelas</option>
              <option value="1">Á vista - {{parcelas.parcela1}}</option>
              <option value="2">2x {{parcelas.parcela2}} sem juros</option>
              <option value="3">3x {{parcelas.parcela3}} sem juros</option>
              <option value="4">4x {{parcelas.parcela4}} sem juros</option>
            </select>
          </div>
          <div>
            <label for="nomeCartao">Nome impresso no cartão</label>
            <input type="text" name="nomeCartao" formControlName="nome" [ngClass]="[formPag.get('nome')?.errors?.['required'] && formInfo.get('nome')?.touched? 'input-erro' : 'input']">
            <div class="erro" *ngIf="formPag.get('nome')?.errors?.['required'] && formPag.get('nome')?.touched">Campo
              obrigatório.</div>
          </div>
          <div class="dual-input">

          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="resumo bloco">
    <div class="titulo">
      <img src="/assets/icons/sacola-de-compras (1).png" width="18px">
      <h5>Resumo da compra</h5>
    </div>
    <div class="produtos">
      <div class="produto" *ngFor="let produto of produtosSacola.produtos">
        <img [src]="produto.produto.fotos[0]">
        <div class="infos">
          <span class="nome">{{produto.produto.nome}}</span>
          <div class="qnt">
            <span>Quantidade: {{produto.quantidade}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="valor-total">
      <span>Total: </span>
      <span>{{valorTotal}}</span>
    </div>
  </div>

</div>
