<nav class="desktop mat-elevation-z4">
  <ul>
    <li>
      <a routerLink="/home">
        <img src="/assets/img/devs-logo-branco.png" class="logo">
      </a>
    </li>
    <li>
      <div class="barra-busca">
        <input type="text" class="busca" placeholder="Buscar produtos">
        <img src="/assets/icons/lupa.png" class="lupa">
      </div>
    </li>
    <li>
      <div class="sacola">
        <img src="/assets/icons/sacola-de-compras.png" width="30px">
        <span class="qnt-sacola">
          <img src="../../../assets/icons/circulo.png" width="22px">
          <span>5</span>
        </span>
      </div>
    </li>
  </ul>
</nav>
