nav{
  height: 60px;
  width: 100%;
  background-color: var(--nav);
  position: fixed;
  box-sizing: border-box;
  z-index: 3;

  .logo{
    width: 95px;
    cursor: pointer;
  }

  ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  li{
    list-style: none;

    .barra-busca{
      position: relative;

      .busca{
        border-radius: 20px;
        width: 450px;
        height: 28px;
        background-color: transparent;
        border: 1px solid var(--cinza1);
        padding: 5px 15px;
        font-size: 14px;
      }

      .lupa{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 20px;
        cursor: pointer;
        }
    }

    .sacola{
      position: relative;
      cursor: pointer;

      .qnt-sacola{
        position: absolute;
        height: 20px;
        box-sizing: border-box;
        left: 18px;
        top: 4px;

        .circulo{
          background: var(--azul);
            border: none;
            border-radius: 50%;
            cursor: pointer;
            height: 19px;
            width: 19px;
            position: absolute;
        }

        .texto{
          position: absolute;
          left: 6px;
          top: 0px;
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
  }
}

.categorias{
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
  top: 60px;
  box-sizing: border-box;
  z-index: 3;

  ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
  }

  li:hover{
    color: var(--azul);
  }
}

