<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" position="end">
    <mat-nav-list>
      <h5>MINHA SACOLA</h5>
      <div class="produtos">
        <div class="produto" *ngFor="let produto of produtosSacola">
          <hr>
          <img [src]="produto.produto.fotos[0]">
          <div class="infos">
            <span class="nome">{{produto.produto.nome}}</span>
            <span class="valor">{{produto.produto.valor | currency : 'BRL'}}</span>
            <div class="qnt">
              <span>Quantidade:</span>
              <div class="btn-qnt">
                <button class="btnMenos" (click)="subtrairQuantidade(produto)">-</button>
                <span class="contador">{{produto.quantidade}}</span>
                <button class="btnMais" (click)="somarQuantidade(produto)">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="valor-total">Total: {{valorTotal}}</span>
      <button class="btn-finalizar">Finalizar compra</button>
    </mat-nav-list>
  </mat-sidenav>

  <nav class="desktop mat-elevation-z4">
    <ul>
      <li>
        <a routerLink="/home">
          <img src="/assets/img/devs-logo-branco.png" class="logo">
        </a>
      </li>
      <li>
        <div class="barra-busca">
          <input type="text" class="busca" placeholder="Buscar produtos">
          <img src="/assets/icons/lupa.png" class="lupa">
        </div>
      </li>
      <li>
        <div class="sacola" (click)="drawer.toggle()">
          <img src="/assets/icons/sacola-de-compras.png" width="30px">
          <span class="qnt-sacola">
            <span class="circulo"></span>
              <span class="texto">{{produtosSacola.length}}</span>
          </span>
        </div>
      </li>
    </ul>

    <div class="categorias mat-elevation-z4">
      <ul>
        <li>TECLADOS</li>
        <li>MOUSES</li>
        <li>WEBCAMS</li>
        <li>ÁUDIO</li>
      </ul>
    </div>
  </nav>
  <section>
    <main class="container" *ngIf="pesquisa">

    </main>

    <div class="container" *ngIf="!pesquisa">
      <ng-content></ng-content>
    </div>

  </section>
</mat-sidenav-container>
