nav{
  height: 60px;
  width: 100%;
  background-color: var(--nav);
  position: fixed;
  box-sizing: border-box;
  z-index: 3;

  .logo{
    width: 95px;
    cursor: pointer;
  }

  ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  li{
    list-style: none;

    .barra-busca{
      position: relative;

      .busca{
        border-radius: 20px;
        width: 400px;
        height: 18px;
        background-color: transparent;
        border: 1px solid var(--cinza1);
        padding: 5px 15px;
      }

      .lupa{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 20px;
        cursor: pointer;
        }
    }

    .sacola{
      position: relative;
      cursor: pointer;

      .qnt-sacola{
        position: absolute;
        height: 20px;
        box-sizing: border-box;
        left: 18px;

        span{
          position: absolute;
          left: 8px;
          top: 4px;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}

.categorias{
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
  top: 60px;
  box-sizing: border-box;
  z-index: 3;

  ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
  }

  li:hover{
    opacity: 0.8;
  }
}

