<app-header>
  <ng-container >
    <div class="container">
      <div class="header">
        <h1>Lançamentos</h1>
        <p>Confira nossas últimas novidades:</p>
      </div>
      <div class="produtos">
        <div class="produto" *ngFor="let produto of lancamentos">
            <a [routerLink]="'/produto/' + produto.id"><img [src]="produto.picture_url[0]"></a>
            <span class="nome">{{ produto.name }}</span>
            <span class="valor">{{ produto.price  | currency : 'BRL'}}</span>
            <button (click)="adicionarProduto(produto, 1)">
              <img src="/assets/icons/sacola-de-compras.png">
              <span>Adicionar à sacola</span>
            </button>
        </div>
      </div>

    </div>
  </ng-container>
</app-header>
