<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" position="end">
    <mat-nav-list>
      <h5>MINHA SACOLA</h5>
      <div class="produtos">
        <div class="produto" *ngFor="let produto of produtosSacola">
          <hr>
          <img [src]="produto.produto.fotos[0]">
          <div class="infos">
            <span class="nome">{{produto.produto.nome}}</span>
            <span class="valor">{{produto.produto.valor | currency : 'BRL'}}</span>
            <div class="qnt">
              <span>Quantidade:</span>
              <div class="btn-qnt">
                <button class="btnMenos" (click)="subtrairQuantidade(produto)">-</button>
                <span class="contador">{{produto.quantidade}}</span>
                <button class="btnMais" (click)="somarQuantidade(produto)">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="valor-total">
        <span>Total:</span>
        <span>{{valorTotal}}</span>
      </div>
      <button class="btn-finalizar">Finalizar compra</button>
    </mat-nav-list>
  </mat-sidenav>

  <nav class="desktop mat-elevation-z4">
    <ul>
      <li>
        <a routerLink="/home" (click)="desabilitarPesquisa()">
          <img src="/assets/img/devs-logo-branco.png" class="logo">
        </a>
      </li>
      <li>
        <form class="barra-busca">
          <input type="text" class="busca" placeholder="Buscar produtos" name="nomePesquisa" [(ngModel)]="nomePesquisa">
          <button type="submit" (click)="pesquisar()"><img src="/assets/icons/lupa.png" class="lupa"></button>
        </form>
      </li>
      <li>
        <div class="sacola" (click)="drawer.toggle()">
          <img src="/assets/icons/sacola-de-compras.png" width="30px">
          <span class="qnt-sacola">
            <span class="circulo"></span>
              <span class="texto">{{produtosSacola.length}}</span>
          </span>
        </div>
      </li>
    </ul>

    <div class="categorias mat-elevation-z4">
      <ul>
        <a [routerLink]="'/categorias/' + 'teclados' " (click)="atualizar('teclados')"><li>TECLADOS</li></a>
        <a [routerLink]="'/categorias/' + 'mouses' "(click)="atualizar('mouses')"><li>MOUSES</li></a>
        <a [routerLink]="'/categorias/' + 'webcams' "(click)="atualizar('webcams')"><li>WEBCAMS</li></a>
        <a [routerLink]="'/categorias/' + 'audio' "(click)="atualizar('audio')"><li>ÁUDIO</li></a>
      </ul>
    </div>
  </nav>
  <section>
    <main class="container" *ngIf="pesquisa">
      <div class="conteudo-pesquisa">
        <div class="titulo">
          <h1>{{produtosPesquisa.length}} resultados encontrados para {{nomePesquisa}}</h1>
        </div>
        <div class="pesquisa">
          <div class="produto-pesquisa" *ngFor="let produto of produtosPesquisa">
              <a [routerLink]="'/produto/' + produto.id"><img [src]="produto.fotos[0]"></a>
              <span class="nome">{{ produto.nome }}</span>
              <span class="valor">{{ produto.valor  | currency : 'BRL'}}</span>
              <button>
                <img src="/assets/icons/sacola-de-compras.png">
                <span>Quero Comprar</span>
              </button>
          </div>
        </div>
      </div>
    </main>

    <div class="container" *ngIf="!pesquisa">
      <ng-content></ng-content>
    </div>

  </section>
</mat-sidenav-container>
