.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100vw;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.botoes-controle {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: 8px;
}

.botoes-controle button {
  background: #cbcbcb;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 13px;
  width: 13px;
}

.botoes-controle button.ativo {
  background: var(--nav);
  cursor: default;
  background: var(--azul);
}
