<app-header>
  <ng-container >
    <div class="conteudo-pesquisa">
      <div class="titulo">
        <h1>{{produtosPesquisa.length}} resultados encontrados para "{{nomePesquisa}}"</h1>
      </div>
      <div class="pesquisa">
        <div class="produto-pesquisa" *ngFor="let produto of produtosPesquisa">
            <a [routerLink]="'/produto/' + produto.id"><img [src]="produto.picture_url"></a>
            <span class="nome">{{ produto.name }}</span>
            <span class="valor">{{ produto.price  | currency : 'BRL'}}</span>
            <button (click)="adicionarProduto(produto, 1)">
              <img src="/assets/icons/sacola-de-compras.png">
              <span>Quero Comprar</span>
            </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-header>
