.cont{
  width: 95%;
  margin: 0 auto;
}

h2 {
  margin: 70px 0 0px 0;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &.custom-arrow-left {
    left: 2.5%;
  }

  &.custom-arrow-right {
    right: 2.5%;
  }
}

.btn-seta{
  background-color: rgba(255, 255, 255, 0.435);
  border: none;
  width: 40px;
  height: 50px;
  padding: 5px;
  opacity: 0.5;
}

.btn-seta:hover{
  opacity: 1;
}

.card {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  box-shadow: none;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  border-radius: 0;
  position: inherit;


  img {
    width: 320px;
    cursor: pointer;
  }

  .nome {
    font-size: 15px;
    color: rgb(116, 115, 115);
    text-align: start;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    text-transform: lowercase;

  }

  .nome::first-letter{
    text-transform: uppercase;
  }

  .valor {
    font-weight: bold;
    font-size: 17px;
    padding: 0;
  }


  button {
    width: 100%;
    background-color: var(--nav);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    color: aliceblue;
    visibility: hidden;

    img {
      width: 17px;
      margin-right: 5px;
    }
  }

}

.card:hover{
  transform: scale(1.03);

  button {
    visibility: visible;

  }
}
