<section class="cont">
  <div class="titulo">
    <h2>Destaques</h2>
  </div>

  <div class="cards">
    <button class="seta-esquerda"  (click)="voltar()">
      <mat-icon class="material-symbols-outlined">
        arrow_back_ios
        </mat-icon>
    </button>
    <div *ngFor="let produto of destaques | slice: inicio:final">
      <div class="card">
        <a [routerLink]="'/produto/' + produto.id"><img [src]="produto.picture_url"></a>
        <span class="nome">{{ produto.name }}</span>
        <span class="valor">{{ produto.price  | currency : 'BRL'}}</span>
        <button (click)="adicionarProduto(produto, 1)">
          <img src="/assets/icons/sacola-de-compras.png">
          <span>Adicionar à sacola</span>
        </button>
      </div>
    </div>
    <button *ngIf="this.final < this.destaques.length" class="seta-direita"
    (click)="avancar()">
    <mat-icon class="material-symbols-outlined">
      arrow_forward_ios
      </mat-icon></button>
  </div>

</section>

